# Built application files
*.apk
*.ap_

# Gradle
# ------
.gradle/
/build
/buildSrc/build
/captures
.externalNativeBuild


# IDEA
# ----
.idea/*
*.iml

# Local configuration file (sdk path, etc)
local.properties

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
