name: Android CI

on: [ push ]

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Project Checkout
        uses: actions/checkout@v3

      - name: Setup Android Build
        uses: ./.github/actions/setup-android-build

      - name: Run Tests
        run: ./gradlew clean testPinboardapiDebugUnitTest --stacktrace

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Project Checkout
        uses: actions/checkout@v3

      - name: Setup Android Build
        uses: ./.github/actions/setup-android-build

      - name: Build
        run: ./gradlew clean assemblePinboardapi --stacktrace

      - name: Upload Pinboard API APK
        uses: actions/upload-artifact@v2.2.4
        with:
          path: app/build/outputs/apk/pinboardapi/debug/app-pinboardapi-debug.apk

  instrumented_tests:
    name: Instrumented Tests
    runs-on: macOS-latest
    needs: [ unit_tests, build ]
    steps:
      - name: Project Checkout
        uses: actions/checkout@v3

      - name: Setup Android Build
        uses: ./.github/actions/setup-android-build

      - name: Run instrumented tests
        uses: reactivecircus/android-emulator-runner@v2.20.0
        with:
          api-level: 29
          arch: x86_64
          script: ./gradlew clean :app:connectedAndroidTest --stacktrace
