name: Android CI

on: [ push ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Project checkout
        uses: actions/checkout@v6

      - name: Setup Android build
        uses: ./.github/actions/setup-android-build

      - name: Build
        run: ./gradlew assemble

      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v5
        with:
          path: app/build/outputs/apk/debug/*.apk

  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Project checkout
        uses: actions/checkout@v6

      - name: Setup Android build
        uses: ./.github/actions/setup-android-build

      - name: Run tests
        run: ./gradlew test

  instrumented_tests:
    name: Instrumented Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [ build, unit_tests ]
    steps:
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Project checkout
        uses: actions/checkout@v6

      - name: Setup Android build
        uses: ./.github/actions/setup-android-build

      - name: AVD cache
        uses: actions/cache@v5
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-34

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: echo "Generated AVD snapshot for caching."

      - name: Run instrumented tests
        id: instrumented-tests
        uses: reactivecircus/android-emulator-runner@v2
        continue-on-error: true
        with:
          api-level: 34
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          disk-size: 6000M
          heap-size: 600M
          script: |
            adb logcat -c                             # clear logs
            touch app/emulator.log                    # create log file
            chmod 777 app/emulator.log                # allow writing to log file
            adb logcat >> app/emulator.log &          # pipe all logcat messages into log file as a background process
            ./gradlew connectedCheck

      - name: Upload failing instrumented tests logs
        if: steps.instrumented-tests.outcome != 'success'
        uses: actions/upload-artifact@v5
        with:
          name: logs
          path: app/emulator.log

      - name: Report failing instrumented tests
        if: steps.instrumented-tests.outcome != 'success'
        run: exit 1

  code_analysis:
    name: Code Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Project checkout
        uses: actions/checkout@v6

      - name: Setup Android build
        uses: ./.github/actions/setup-android-build

      - name: Spotless check
        run: ./gradlew spotlessCheck

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Project checkout
        uses: actions/checkout@v6

      - name: Setup Android build
        uses: ./.github/actions/setup-android-build

      - name: Build
        run: ./gradlew lint

  license-check:
    name: License Check
    runs-on: ubuntu-latest
    steps:
      - name: Project checkout
        uses: actions/checkout@v6

      - name: Setup Android build
        uses: ./.github/actions/setup-android-build

      - name: Build
        run: ./gradlew licensee
